
body, html {
  height: 100%;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #777;
}

.bgimg-home, .bgimg-igpaw, .bgimg-cloudfield, .bgimg-peintogen, .bgimg-napi, .bgimg-kantenbouki, .bgimg-transfer {
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-home {
  background-image: url("../images/home.jpg");
  min-height: 100%;
}

.bgimg-igpaw {
  background-image: url("../images/igpaw.png");
  min-height: 400px;
}

.bgimg-cloudfield {
  background-image: url("../images/cloud-field.png");
  min-height: 400px;
}

.bgimg-kantenbouki {
  background-image: url("../images/kantenbouki.png");
  min-height: 400px;
}

.bgimg-speechless {
  background-image: url("../images/speechless.jpg");
  min-height: 400px;
}

.bgimg-peintogen {
  background-image: url("../images/peintogen.png");
  min-height: 400px;
}

.bgimg-transfer {
  background-image: url("../images/transfer.png");
  min-height: 400px;
}

.main-caption {
  display: table;
  text-align: left;
  padding-top: 20vh;
  height: 100%;
  width:100%;
}

.main-caption span.border {
  display: inline-block;

  /*background-color: #111;*/
  color: #c00;
  padding: 0px;
  word-wrap: break-word;
  font-size: 8vh;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}

.main-caption span.subcaption {
  display: inline-block;

  /*background-color: #111;*/
  color: #eee;
  padding: 0px;
  font-size: 3vh;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.main-caption span.smalltext {
  display: inline-block;

  /*background-color: #111;*/
  color: #eee;
  padding: 0px;
  font-size: 2vh;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.main-caption a.smalltext {
  display: inline-block;

  /*background-color: #111;*/
  color: #c00;
  padding: 0px;
  font-size: 2vh;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.main-caption a.border-button {
  display: inline-block;

  border: 5px solid #1C83DC;
  background-color: #111;

  padding: 18px;
  font-size: 3vh;
  letter-spacing: 5px;
  font-weight: 500;

  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;

  text-decoration: none;
}

.main-caption a.border-button:hover {
  background-color: #EEE;
  color: #1C83DC;
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3vh;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vh;
  color: #111;
}

.navb-brand {
  color: black;
  font-weight: 500;
}

.navb-item {
  color: black;
  font-weight: 500;

  text-align: right;
}

.container-blog {
  padding-left: 5vw;
  padding-right: 5vw;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-home, .bgimg-igpaw, .bgimg-cloudfield, .bgimg-speechless,  .bgimg-peintogen .bgimg-kantenbouki, .bgimg-transfer, {
        background-attachment: scroll;
    }
}